<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    
	<beans:bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/ModelViewer" />
        <property name="username" value="jerrad" />
        <property name="password" value="darrej" />
    </beans:bean>
    

    <beans:bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <list>
                <value>com.ModelViewer.Model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </beans:bean>
     
     <!--  DAO configurations -->
    <bean id="UserDAOImpl" class="com.ModelViewer.DAOImpl.UserDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
    <bean id="ProjectMemberDAOImpl" class="com.ModelViewer.DAOImpl.ProjectMemberDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>	
	<bean id="ProjectInfoDAOImpl" class="com.ModelViewer.DAOImpl.ProjectInfoDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>	
	<bean id="MemberDAOImpl" class="com.ModelViewer.DAOImpl.MemberDAOImpl">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
		<bean id="FileDAOImpl" class="com.ModelViewer.DAOImpl.FileDAOImpl">
	</bean>
	
	<!-- DAO Validation -->
	<context:component-scan base-package="com.ModelViewer.DAO.Validation"/>
	<bean id="UserDAO" class="com.ModelViewer.DAO.Validation.UserDAOValidation"></bean>
    <bean id="ProjectMemberDAO" class="com.ModelViewer.DAO.Validation.ProjectMemberDAOValidation"></bean>
    <bean id="ProjectInfoDAO" class="com.ModelViewer.DAO.Validation.ProjectInfoDAOValidation"></bean>	
	<bean id="MemberDAO" class="com.ModelViewer.DAO.Validation.MemberDAOValidation"></bean>
	<bean id="FileDAO" class="com.ModelViewer.DAO.Validation.FileDAOValidation"></bean>
	
</beans:beans>