<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	
	
	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10000000000" />
    </bean>
    
    <!-- mail chimp: mandrill -->
    <bean id="Mandrill"
        class="com.microtripit.mandrillapp.lutung.MandrillApi">
        <constructor-arg type="java.lang.String" value="42b4caea7d029b118d0ad8c507e9cb1c-us12"/>
    </bean>
    
</beans>
