<!--<style>
.memberLoginView_redGlow { 
    outline: none;
    border-color: #FF9696;
    box-shadow: 0 0 10px #FF9696;
} 
</style> -->
<div>
	<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
	                
	<div>
	    <h2>Member Login</h2>
	    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
	    <form name="memberForm" ng-submit="vm.login(vm.companyName,vm.member,vm.password)" role="form">
	    	<div class="form-group" ng-class="{ 'has-error': memberForm.companyName.$dirty && memberForm.companyName.$error.required }">
	            <label >Company Name</label>
	            <input type="text" name="companyName" class="form-control" ng-model="vm.companyName" required />
	            <span ng-show="memberForm.companyName.$dirty && memberForm.companyName.$error.required" class="help-block">Company Name is required</span>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': memberForm.memberName.$dirty && memberForm.memberName.$error.required }">
	            <label >Member Name</label>
	            <input type="text" name="memberName" class="form-control" ng-model="vm.memberName" required />
	            <span ng-show="memberForm.memberName.$dirty && memberForm.memberName.$error.required" class="help-block">Member Name is required</span>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': memberForm.password.$dirty && memberForm.password.$error.required }">
	            <label >Password</label>
	            <input type="password" name="password" class="form-control" ng-model="vm.password" required />
	            <span ng-show="memberForm.password.$dirty && memberForm.password.$error.required" class="help-block">Password is required</span>
	        </div>
	        <div class="form-actions">
	            <button type="submit" ng-disabled="memberForm.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
	        </div>
	    </form>
	</div>
</div>
