
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
<style>

	
	
	.modelSpacerTop {
		height: 10%;
		width: 100%;
	} 
	
	#innerWindow {
		width:80%;
	}
	@media only screen and (max-width: 600px){	
		#innerWindow {
			width:95%;
		}
	}
	.imageNormal{
    	width: 100%;
    	height: 100%;
	}
	.responsive_headline {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		font-size:20px;
		flex-flow: column;
		font-size: 14vw;
		
		text-shadow: 2px 2px 2px #ddd;
	}
	.current {
		box-shadow: 0px 0px 0px grey;
		background-color: rgb(255, 255, 255);
	    transition-property: background-color,box-shadow;
	    transition-duration: 2s;
	    transition-timing-function: ease;
	}
	.current:hover {
		box-shadow: 2px 2px 13px grey;
	    background-color: rgba(246, 255, 245, 1);
	    transition-property: background-color,box-shadow;
	    transition-duration: 1s;
	    transition-timing-function: ease;    
	}	
	.current {
		box-shadow: 0px 0px 0px grey;
		background-color: rgb(255, 255, 255);
	    transition-property: background-color,box-shadow;
	    transition-duration: 2s;
	    transition-timing-function: ease;
	}
	.current:hover {
		box-shadow: 2px 2px 13px grey;
	    background-color: rgba(246, 255, 245, 1);
	    transition-property: background-color,box-shadow;
	    transition-duration: 1s;
	    transition-timing-function: ease;    
	}	
	.font{
		font-family: 'Open Sans', sans-serif;
	}

</style>
<script>
	jQuery("nav").fadeIn(600);
</script>

<div style="height:100%;width:100%;">
	<img style="position: absolute;z-index: -1;top:-56px; " draggable="false" src="static-files/images/highres.jpg" alt="Could not locate image.">
	<div class="modelSpacerTop"></div>
	<div class="ng-scope" style="display:flex;justify-content:center;align-items:center;height: 85%;">
		<div id="innerWindow" class="jumbotron panel panel-default" style="color:white;position:relative;height:90;display:flex;justify-content:center;align-items:center;">
			<div style='top:0px;display:flex;justify-content:center;align-items:center;position: absolute;width: 100%;height: 100%;z-index:-1;'>
		    	<div class="responsive_headline">
			    	<span>Project</span>
			    	<span>Selection</span>
		    	</div>
		    </div>
			<div style="width: 100%; height: 100%;">
				<H1 class="font" style="color: black;text-align: center;">{{vm.getCompanyName()}}</H1>
				<!-- <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchInput">	 -->	
			    <carousel3d stlye="height: 100%;"
			            ng-model="vm.slides2"
			            options="vm.options2"
			            on-selected-click="vm.selectedClick(index)"
			            on-slide-change="vm.slideChanged(index)"
			            on-last-slide="vm.lastSlide(index)"
			            on-before-change="vm.beforeChange(index)">
			
			        <carousel3d-slide ng-repeat="slide in vm.slides2 | filter: {projectName:searchInput} track by $index" ng-style="{'background-color':'white'}">
			        	<div class="panel panel-default">
			        		<div class="panel-heading">
			        			<div>
			        				<p style="padding-right:5px"><span style="padding-right:5px">Project {{$index+  1}}:</span><span>'{{slide.projectName}}'</span></p>
			        			</div>
			        			<div style="display: flex;">
				        			<p style="padding-right:5px"><span style="padding-right:5px">Images: {{slide.imageCount}}</span></p>
				        			<p style="padding-right:5px"><span style="padding-right:5px">Models: {{slide.modelCount}}</span></p>
			        			</div>
			        		</div>
			        		<div class="panel-body" style="padding:0px;overflow:hidden;">
					            <img class="imageNormal" ng-src="{{slide.imageUrl}}" alt=""/>
					        </div>
					   </div>
			        </carousel3d-slide>			
			    </carousel3d>
		    </div>
		</div>
	</div>
</div>







