<style>
	.projectMemberView_buttons {
		width: 100%;
		background-color: transparent;
		border-width: 1px;
		border-radius: 4px;
		border-color: #ddd;
		overflow: hidden;
		margin: 2px;
	}
	.projectMemberView_buttons:hover{
		background-color:rgba(239, 177, 177, 1);
	}
	
	.projectMemberView_deleteProject:hover{
		background-color:rgba(239, 177, 177, 1);
	}
	
	.projectMemberView_AddMember:hover{
		background-color: greenyellow;
	}
	
	.projectMemberView_HVCenter_project{
		width:300px;
		height:300px;
		position:fixed;
		left:50%;
		top:40%;
		margin:-100px 0 0 -150px;
	}

	.projectMemberView_btn-file {
	    position: relative;
	    overflow: hidden;
	}
	.projectMemberView_btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}
	.drop-box {
	    background: #F8F8F8;
	    border: 5px dotted #DDD;
	    text-align: center;
	    padding-top: 16px;
	    margin: 10px;
	}
	.dragover {
    	border: 5px dashed blue;
	}
</style>

				


<div class="panel panel-default" ng-app="app" ng-controller="Company_ProjectMemberController as vm">
	<div class="panel-heading">
		<div>
			<span><H4 style="display:inline-block">Projects</H4></span>
			<span style="float:right;width: 50%;margin-right: 20px;">
				<form name="projectForm" ng-submit="vm.CreateANewProject(vm.projectNameToAdd)" role="form">
					<div class="form-group" ng-class="{ 'has-error': projectForm.projectName.$dirty && (projectForm.projectName.$error.required || projectForm.projectName.$error.pattern || projectForm.projectName.$error.maxlength || projectForm.projectName.$error.minlength)}">
						<div class="input-group">			
							<input type="text" name="projectName" class="form-control" placeholder="Project Name" ng-model="vm.projectNameToAdd"
							ng-maxlength="{{CONSTANTS_Company_ProjectMemberController.Company_ProjectMemberController.PROJECTS.NEW_PROJECT_INPUT.MAXIMUM_LENGTH}}"
							ng-minlength="{{CONSTANTS_Company_ProjectMemberController.Company_ProjectMemberController.PROJECTS.NEW_PROJECT_INPUT.MINIMUM_LENGTH}}"
							ng-pattern="{{CONSTANTS_Company_ProjectMemberController.Company_ProjectMemberController.PROJECTS.NEW_PROJECT_INPUT.VALID_PATTERN}}" required />
							<span class="input-group-btn">
								<button type="submit" ng-disabled="projectForm.$invalid || vm.dataLoading" class="btn btn-default projectMemberView_AddMember">Project</button>
							</span>
						</div>	
					</div>
				</form>
			</span>			
		</div>
	</div>  
	<div class="panel-body">
		<!-- repeat for all projects -->
	 	<div class="panel panel-default" ng-repeat="(key, values) in vm.projectMember">
			<div class="panel-heading">
				<span>
					<h5 style="display:inline-block">{{key}}</h5>
				</span>
				<span style="float: right;">
					<div class="btn-group" role="group" aria-label="...">
					
						<button type="button" class="btn btn-default projectMemberView_deleteProject" 
							ng-click="vm.DeleteAProject(key)">Project</button>
							
						<button type="button" class="btn btn-default" 
							ng-click="vm.pd.ProjectEditProjectDialog_Toggle(key)">Edit</button>
							
						<button type="button" class="btn btn-default projectMemberView_AddMember" 
							ng-click="vm.ProjectEditMemberDialog_Toggle(key,values)">Member</button>
					</div>
				</span>
				
			</div>
			<div class="panel-body"> 
				<div class="container-fluid">
					<div class="row"> 
						<div ng-repeat='n in values track by $index'>						
							<div class="col-md-3">
								<button class="btn projectMemberView_buttons" type="button"
								 ng-click="vm.DeleteAMemberFromAProject(key,n)">{{n}}</button>
							</div>													
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  add members dialog -->
	<div style="z-index: 10;" class="panel panel-default projectMemberView_HVCenter_project" 
		ng-show="vm.projectEditMemberDialog">
		<div class="panel-heading">
			<span><H4 style="display:inline-block">Project Add Member</H4></span>
			<span style="float:right;">
				<button class="btn btn-default" type="button" 
						style="float:right;margin-right:10px" 
						ng-click="vm.projectEditMemberDialog = false;"> Close
				</button>
			</span>
		
		</div>
		<div class="panel-body" style="max-height: 75%;overflow-y: auto;">
			<div class="list-group">
				<button type="button" style="width: 100%;" class="btn btn-default list-group-item projectMemberView_AddMember" 
					ng-repeat="pemd_m in vm.projectEditMemberDialog_members" 
					ng-click="vm.projectEditMemberDialog = false;vm.ProjectEditMemberDialog_AddMember(vm.projectEditMemberDialog_project, pemd_m)">
					{{pemd_m}}
				</button>
			</div>
		</div>
	</div>
	
	
	<!-- file upload dialog -->
	<div style="z-index: 10;height:350px;width:500px;margin:-170px 0 0 -250px;" 
		class="panel panel-default projectMemberView_HVCenter_project"
		ng-show="vm.pd.projectEditProjectDialog_dialogShow">
		<div class="panel-heading" style="height:55px;">
			<span><H4 style="display:inline-block">{{vm.pd.projectEditProjectDialog_projectName}}: File Upload</H4></span>
			<span style="float:right;">
				<button class="btn btn-default projectMemberView_deleteProject" type="button" 
						style="float:right;margin-right:10px" 
						ng-click="vm.pd.projectEditProjectDialog_dialogShow = false;"> Cancel
				</button>
			</span>
		</div>
		
		<div class="panel-body">		
			<div style="height: 268px;overflow: hidden; margin-right: -8px;">
				<div style="overflow-y: auto;height: 267px; overflow-x: hidden; padding-right: 10px;">
					<div style="height: 120px;color:#ADADAD;"
						ngf-drop ngf-select ng-model="files" class="drop-box" 
				        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
				        accept="image/*,application/pdf" 
				        ngf-pattern="'image/*,application/pdf'"><p>Click for file upload or<br>drop multiple image files and project files here.<br>JPG/JPEG/PNG/3DUNITY file types are supported.<br>100Mb maximum files size</p></div>
					<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			

					<div class="panel panel-default" ng-repeat="(group, groupValues) in vm.pd.projectMetaData[vm.pd.projectEditProjectDialog_projectName]">
						<div class="panel-heading" style="padding: 1px 15px;">
							<span><H4>{{group}}</H4></span>
						</div>
						<div class="panel-body">
							<div style="padding: 2px;" ng-repeat="value in groupValues" >
								<div style="position:relative;">
									<button style="width: 100%; padding:0px;"type="button" class="btn btn-default projectMemberView_deleteProject" ng-click="vm.pd.DeleteFileFromProject(value.name)">
										<div ng-show="value.status == 'uploading' || value.status == 'queued'"
										     style="height: 100%;width: 100%;position: absolute; padding: 0px; margin: 0px;" class="progress" >
										 	<div style="width:{{value.progress}}%;" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div style="overflow:hidden;text-align: center; margin: 5px;position: relative;">										
											{{value.name}}
										</div>									
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</div>
	
</div>














