<style>
	.memberCreateMemberButtons:hover{
		background-color: greenyellow;
	}
	.memberDeleteButtons:hover{
		background-color:rgba(239, 177, 177, 1);
	}
	.HVCenter{
		width:300px;
		height:200px;
		position:fixed;
		left:50%;
		top:40%;
		margin:-100px 0 0 -150px;
	}
</style>

<div class="panel panel-default" ng-controller="Company_MemberController as vm">
	
	<div class="panel-heading">
		<div>
			<span><H4 style="display:inline-block">Members</H4></span>
			<span class="controls">
				<button class="glyphicon glyphicon-user btn btn-default memberCreateMemberButtons" type="button" 
						uib-tooltip="New memeber"
						style="float:right;margin-right:10px" 
						ng-click="vm.createMemberDialog = !vm.createMemberDialog;
								  vm.memberNameToCreate = '';
								  vm.memberPasswordToCreate = '';
								  vm.memberNameToCreateOld = '';
								  vm.memberPasswordToCreateOld = '';">
				</button>
			</span>			
		</div>
	</div>

	<div class="panel-body">
		<!-- repeat for all members -->	 	
		<div class = "btn-group-vertical" style="width:100%">						
			
			<div ng-repeat="member in vm.members" class="animate-repeat" >
				<div class="input-group" style="padding:2px">
					<input type="text" class="form-control" style="background-color:transparent;cursor: default;" 
						id="exampleInputAmount" placeholder="{{member}}" 
						ng-bind="member" readonly>
					<span class="input-group-btn">
					    <button type = "button" 
					    	class = "glyphicon glyphicon-edit btn btn-default"		
					    	uib-tooltip="Edit memeber"			   	
						   	ng-click="vm.createMemberDialog = true;
									  vm.GetMemberData(member);">
					   	</button>
					   	<button type = "button" 
					   		class = "glyphicon glyphicon-remove btn btn-default memberDeleteButtons" 	
					   		uib-tooltip="Delete memeber"					   	
							ng-click="vm.DeleteMember(member);">
					   	</button>
				   </span>
			   	</div>
			</div>		
		</div>

	<div id="CreateMemberDialogId" style="z-index: 10" class="panel panel-default HVCenter animate-show" 
		ng-show="vm.createMemberDialog">
		<div class="panel-heading">
			<H4>Create/Update Member</H4>
		</div>
		<div class="panel-body">
			<form name="newMemberForm" ng-submit="vm.MemberDialogAccept(currentMemberName, currentMememberPassword);vm.createMemberDialog=false;" role="form">
				<div class="form-group"  style="margin-bottom: 5px;" 
					ng-class="{ 'has-error': newMemberForm.memberName.$dirty && (newMemberForm.memberName.$error.required || newMemberForm.memberName.$error.pattern || newMemberForm.memberName.$error.maxlength || newMemberForm.memberName.$error.minlength )}">
					<input type="text" name="memberName" style="margin-bottom:5px" class="form-control" placeholder="Name" ng-model="vm.memberNameToCreate"
					ng-maxlength="{{CONSTANTS_Company_MemberController.Company_MemberController.CREATE_MEMBER_FORM.MEMBER.MAXIMUM_LENGTH}}"
					ng-minlength="{{CONSTANTS_Company_MemberController.Company_MemberController.CREATE_MEMBER_FORM.MEMBER.MINIMUM_LENGTH}}" 
					ng-pattern="{{CONSTANTS_Company_MemberController.Company_MemberController.CREATE_MEMBER_FORM.MEMBER.VALID_PATTERN}}" required />
				</div>
				<div class="form-group" style="margin-bottom: 5px;" 
					ng-class="{ 'has-error': newMemberForm.memberPassword.$dirty && (newMemberForm.memberPassword.$error.required || newMemberForm.memberPassword.$error.pattern || newMemberForm.memberPassword.$error.maxlength || newMemberForm.memberPassword.$error.minlength )}">
					<input type="text" name="memberPassword" style="margin-bottom:5px" class="form-control" placeholder="Password" ng-model="vm.memberPasswordToCreate"
						ng-maxlength="{{CONSTANTS_Company_MemberController.Company_MemberController.CREATE_MEMBER_FORM.PASSWORD.MAXIMUM_LENGTH}}"
						ng-minlength="{{CONSTANTS_Company_MemberController.Company_MemberController.CREATE_MEMBER_FORM.PASSWORD.MINIMUM_LENGTH}}"
						ng-pattern="{{CONSTANTS_Company_MemberController.Company_MemberController.CREATE_MEMBER_FORM.PASSWORD.VALID_PATTERN}}" required />
				</div>
				<div class="form-actions btn-group btn-group-justified" role="group">		
				  	<button style="width:50%;" type="submit" ng-disabled="newMemberForm.$invalid || vm.dataLoading" class="btn btn-default memberCreateMemberButtons">Ok</button>		  
				    <button style="width:50%;" type="button" class="btn btn-default memberDeleteButtons" ng-click="vm.createMemberDialog=false;">Cancel</button>
				</div>
			</form>
		</div>
	</div>

</div>



























