
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.controls-left {
	max-width:50%;
	padding-left: 10px;
	float: left;
}

.controls-right {
	max-width:50%;
	padding-right: 10px;
	float: right;
}
.glyphicon {
	top: 0px;
	line-height: inherit;
}
 
p{
	font-weight: 400;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}

.navbar-btn.disabled {
	border-color: transparent;
}
.navbar-btn {
	border: none;
    background: transparent;
    background-color: transparent;
    font-size: 20px;
    color: #566C81;
    text-align:center;
    cursor: pointer;
    vertical-align: middle;
    padding: 6px 12px;
    display: inline-block;
    border: 1px solid transparent;
}

.navbar-btn:hover {
	color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jumbotron p {
	margin-bottom: 0px;
	font-weight: 400;
    font-size: small;
}

.panel {
	margin-bottom: 0px;
}
.panel-heading {
	font-family: 'Montserrat', sans-serif;
}
.panel-footer {
    background-color: #fff;
    text-align: right;
}
.panel-default>.panel-heading {
    background: linear-gradient(to bottom right, rgba(200, 223, 230, 0.74), white);
    border-color: rgba(221, 221, 221, 0.44);
}

.animate-repeat {
	opacity:1;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}


.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.animate-hide.ng-hide-add {
  -webkit-animation:3s hide;
  animation:3s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  80% {
    transform: scale(1.00);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  80% {
    transform: scale(1.00);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

/*
.animate-hide.ng-hide-remove {
  -webkit-animation:3s show;
  animation:3s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}*/